<div fxLayout="column" fxFill>
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxFill fxLayoutAlign="center start">
    <mat-card fxFlex.lt-md="65" fxFlex="30">
      <mat-card-header>
        <mat-card-title class="titulo">Conecte-se</mat-card-title>
      </mat-card-header>

      <mat-card-content class="textoDescricao">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, reprehenderit,
        ipsa dolor cum repudiandae cupiditate incidunt minus beatae reiciendis voluptate at,
         voluptas quibusdam eos placeat dolores sint est! Molestias, architecto! Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus beatae nisi aperiam inventore perferendis rerum totam voluptatibus illo soluta molestias necessitatibus asperiores, eos eius distinctio natus sit atque? Omnis, repellendus.
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex.lt-md="100" fxFlex="35">
      <mat-toolbar color="primary">
        Login
      </mat-toolbar>

      <mat-card-content>
        <form [formGroup]="form" (submit)="login()">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>

            <input matInput placeholder="Ex: pat@examplo.com" formControlName="mail">

            <mat-error *ngIf="form.controls['mail'].errors?.['email']">
              Entre com um email valido
            </mat-error>

            <mat-error *ngIf="form.controls['mail'].errors?.['required']">
              Campo obrigatório
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Senha</mat-label>

            <input type="password" matInput placeholder="Senha" formControlName="senha">

            <mat-error *ngIf="form.controls['senha'].errors?.['required']">
              Campo obrigatório
            </mat-error>
          </mat-form-field>
          <button [disabled]="!form.valid" mat-raised-button color="primary">Logar</button>

        <button mat-raised-button (click)="onRegister()">Cadastrar-se</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
