<mat-toolbar mat-dialog-title color="primary" fxLayout="row wrap">
  <span>Oportunidade</span>
</mat-toolbar>

<div mat-card-content style="max-width: 500px;">
  <form [formGroup]="form">
    <div fxLayout="column">
      <mat-form-field>
        <mat-label>Título</mat-label>

        <input matInput placeholder="Ex: Recepcionista" formControlName="titulo">

        <mat-error *ngIf="form.controls['titulo'].errors?.['required']">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Endereço</mat-label>

        <input matInput placeholder="Ex: Rua Alberto, n° 33" formControlName="endereco" />

        <mat-error *ngIf="form.controls['endereco'].errors?.['required']">
          Campo obrigatório
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="55">
        <mat-label>Telefone</mat-label>

        <input matNativeControl matInput type="number" placeholder="Ex: 51998334454" formControlName="telefone" />

        <mat-error *ngIf="form.controls['telefone'].errors?.['pattern']">
          Telefone inválido
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="40" floatLabel="always">
        <mat-label>Valor</mat-label>

        <span matPrefix>R$ &nbsp;</span>

        <input matInput type="number" maxlength="9" placeholder="Ex: 150,22" formControlName="valor"/>


        <mat-error *ngIf="form.controls['valor'].errors?.['pattern']">
          Valor inválido
        </mat-error>

        <mat-error *ngIf="form.controls['valor'].errors?.['maxLength']">
          Valor inválido
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="55">
        <!--TODO trocar formato de data para DD/MM/YYYY-->
        <mat-label>Validade</mat-label>

        <input matInput placeholder="" [matDatepicker]="picker" formControlName="validade" />

        <mat-hint>MM/DD/YYYY</mat-hint>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

        <mat-datepicker #picker>
          <mat-datepicker-actions>
            <button mat-raised-button color="primary" matDatepickerApply>Aplicar</button>

            <button mat-raised-button matDatepickerCancel>Cancelar</button>
          </mat-datepicker-actions>
        </mat-datepicker>

        <mat-error *ngIf="form.controls['validade'].errors?.['required']">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="40">
        <mat-label>Categoria</mat-label>

        <input matInput placeholder="" formControlName="categoria" />
      </mat-form-field>
    </div>

    <div fxLayout="column">
      <mat-form-field>
        <mat-label>Descrição</mat-label>

        <textarea #description rows="9" maxlength="500" style="max-height: 400px;" matInput
          placeholder="Ex: Horário das 10h às 18h." formControlName="descricao"></textarea>

        <mat-hint align="end">{{ description.value.length }} / 500</mat-hint>

        <mat-error *ngIf="form.controls['descricao'].errors?.['required']">
          Campo obrigatório
        </mat-error>

        <mat-error *ngIf="form.controls['descricao'].errors?.['maxLength']">
          Campo não pode passar de 500 caracteres
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onRegister()">Criar</button>
  <button mat-raised-button (click)="onCancel()">Cancelar</button>
</div>
