<div fxLayout="row wrap" fxLayoutGap="0px" fxLayoutAlign="space-between">
  <div fxFlex>
    <mat-tab-group>
      <mat-tab label="Oportunidades">
        <!--TODO carregar oportunidades-->
      </mat-tab>
      <mat-tab label="Minhas Oportunidades">
        <!--TODO mostrar minhas oportunidades apenas quando usuário estiver logado-->
        <!--TODO carregar oportunidades do usuário logado-->
      </mat-tab>
    </mat-tab-group>
  </div>

  <div  fxLayoutAlign="end start">
    <button mat-mini-fab color="warn" (click)="addOpportunity()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
