<mat-card>
  <mat-toolbar color="primary">
    Opp
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="input-width">
        <input matInput placeholder="Título" formControlName="title">
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions align="start">
    <button color="primary" mat-raised-button (click)="onRegister()">Criar</button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
