<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="mat-18">
         {{ isMenuOpen ? 'menu_open' : 'menu' }}
        </mat-icon>
      </button>
      <a class="toolbar-router" [routerLink]="'/'">CONECTE-SE</a>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container"><!-- TODO adicionar itens para navegação -->
    <mat-sidenav #sidenav class="sidenav" mode="over" align="start" [(opened)]="isMenuOpen" (click)="onSidenavClick()">
      <div>
        <i class="fa fa-user-circle"></i>
        <a class="ml-2">{{ user.nome }}</a>
    </div>
      <mat-nav-list>
        <mat-list-item>
          <a class="router" [routerLink]="'/'">
            <mat-icon class="mat-18">home</mat-icon>
            <span>Home</span>
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <a class="router" [routerLink]="'/user/register'">
            <mat-icon class="mat-18">assignment</mat-icon>
            <span>Cadastrar-se</span>
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <a class="router" [routerLink]="'/user'">
            <mat-icon class="mat-18">login</mat-icon>
            <span>Login</span>
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
          <a class="router" [routerLink]="'/opp'">
            <mat-icon class="mat-18">handshake</mat-icon>
            <span>Oportunidades</span>
          </a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
