mat-card {
  max-width: 60%;
  margin: 2em auto;
  text-align: center;
}

.input-width {
  width: 48%;
  margin-top: .5em;
  margin-right: 1em;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

@media screen and (max-width: 1170px) {
  .input-width {
    width: 100%;
    margin-right: 0;
  }
}
